body {
	
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 100vh;
}

header {

	height: 7%;
	width: 100%;
	display: flex;
	flex-wrap: 	nowrap;
	background-color: #fca74d;	
}

main {
	height: 87%;
	width: 100%;
}

footer {

	height: 6%;
	display: flex;
	font-weight: bold;
	font-size: 20px;
	flex-wrap: 	wrap;
	column-gap: 30px;
	background-color: orange;
	justify-content: center;
	align-items: center;	
}

.logo {
	padding: 10px 10px			
}
.titulo {
	color: white;
	padding: 10px;
	font-weight: bold;
	font-size: 40px;
} 

.titulo2 {
	color: white;
	padding: 10px;
	font-weight: bold;
	font-size: 25px;
} 

.desenho {
	display: flex;
	flex-direction: row;
  	justify-content: center;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
  	font-weight: bold;
}

.forca {
	padding: 10px;
	width: 240px;
  	height: 400px;
  	object-fit: contain;
}

.erros {

	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
  	row-gap: 5px;
  	column-gap: 5px;
  	margin: 5px;
}

.adicionaPalavra {
	display: flex;
  	flex-direction: column;
  	align-items: right;
  	flex-wrap: wrap;
  	background-color: orange;
  	row-gap: 10px;
  	column-gap: 5px;
  	margin: 5px;
  	padding: 10px;
}

#telaAdiciona{
	font-size: 25px;
}

.mostraResultadoFinal {
	display: flex;
	font-size: 30px;
	width: 200px;
  	flex-direction: column;
  	align-items: right;
  	flex-wrap: wrap;
  	background-color: orange;
  	border:  2px solid;
  	row-gap: 10px;
  	column-gap: 5px;
  	margin: 5px;
  	padding: 10px;
}

.resultaErros {

	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
  	row-gap: 10px;
  	column-gap: 5px;
  	margin: 5px;
}


.teclado2 {
	flex-direction: column;
	background-color: orangered;
	color: white;
	height: 200px;
	width: 200px;
	text-align: center;
	font-size: 25px;
	border-color: orange;
	border-radius: 6px;
}

.palavraSecreta {

	display: flex;
  	flex-direction: row;
  	justify-content: center;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
  	row-gap: 5px;
  	column-gap: 5px;
  	margin: 5px;
}

.letrajogada {

	background-color: #423218;
	color: white;
	padding: 5px 8px;
	text-align: center;
	font-size: 30px;
	border-radius: 6px;
}

.letrasErradas {
	background-color: #423218;
	color: white;
	padding: 5PX 8PX;
	text-align: center;
	font-size: 20px;
	font-style: bold;
	border-radius: 6px;
}


.container {
	display: flex;
  	flex-direction: row;
  	justify-content: center;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
  	row-gap: 5px;
  	column-gap: 5px;
  	margin: 5px;
}

.teclado {

	background-color: orangered;
	color: white;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 25px;
	border-color: orange;
	border-radius: 6px;
	}

.botao2 {

	background-color: #423218;
	color: white;
	height: 40px;
	width: 160px;
	text-align: center;
	font-size: 22px;
	border-color: indianred;
	border-radius: 6px;
	}

.botao3 {

	background-color: orangered;
	color: white;
	height: 40px;
	width: 220px;
	text-align: center;
	font-size: 20px;
	border-color: #fca74d;
	border-radius: 6px;
	}

.logorodape {

	height: 30px;
	width: 30px;
}

@media screen and (max-width: 480px) {
	
	body {	
		background-size: 380%;
		width: 100%;
		height: 100vh;
	}

	header {
		height: 6%;
		display: flex;
		column-gap: 25px;
	}

	main {
		height: 87%;
	}

	footer {
		font-size: 12px;
		height: 6%;
		display: flex;
		flex-wrap: 	wrap;
		column-gap: 10px;
		padding-top: 5px 5px 5px;

	}

	.desenho {
		width: 80%;
		display: flex;
		flex-direction: row;
  		justify-content: center;
  		align-items: center;
  		flex-wrap: nowrap;
  		align-content: center;	
	}

	.logo {
		padding: 10px 10px	
		width: 100%;
	  	height: 50%;		
	}

	.titulo {
		font-size: 20px;
		padding: 20px;
		width: 100%;
	  	height: 20%;
	} 

	.titulo2 {
		font-size: 16px;
	}

	.forca {
		padding: 10px;
		width: 53%;
	  	height: 5%;
	}

	.erros {
		display: flex;
	  	row-gap: 10px;
	  	column-gap: 5px;
	  	margin: 5px;
	}

	.mostraResultadoFinal {
		display: flex;
		font-size: 25px;
	}

	.adicionaPalavra {

		display: flex;
	  	row-gap: 10px;
	  	column-gap: 5px;
	  	margin: 5px;
	  	padding: 10px;
	}

	.teclado2 {

		height: 200px;
		width: 200px;
		text-align: center;
		font-size: 10px;
		border-radius: 6px;
	}

	.letrajogada {
		padding: 5px 8px;
		text-align: center;
		font-size: 20px;
		font: bold;
		border-color: black;
		border-radius: 6px;
	}
	.letrasErradas {
		padding: 5px 8px;
		font-size: 10px;
		border-radius: 6px;
	}

	.container {

		display: flex;
  		flex-direction: row;
  		justify-content: center;
  		align-items: center;
  		flex-wrap: wrap;
  		align-content: center;
  		row-gap: 5px;
  		column-gap: 2px;
  		margin: 5px;
	}

	.teclado {
		height: 23px;
		width: 24px;
		font-size: 16px;
		border-radius: 4px;
	}

	.botao2 {
		
		border-radius: 6px;
		font-size: 20px;
		height: 30px;
		width: 142px;
	}

	.adicionaPalavra {
		font-size: 10px;
	}

	.botao3 {
		height: 40px;
		width: 220px;
		font-size: 20px;
		border-radius: 6px;
	}

	.logorodape {
		height: 20px;
		width: 20px;
		font-size: 10px;
	}
}